.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1em;
}

.github-link {
  transform: scale(1.5);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
